*{
	font-family: 'Raleway', sans-serif;
	color: black;
}

.color1{
	color: white;
}

.color2{
	color: green;
}

/*caja uno*/

#caja1{
	background-color: #181E68;
	width: 100%;
	height: auto;
	margin-bottom: 40px;	
}

#caja1 h1{
	font-size: 70px;
	margin-top: 80px;
}

/*caja dos*/

#caja2{
	background-color: #ECEDF2;
	width: 100%;
	height: auto;		
}

#caja2 h1{
	margin-top: 80px;
	margin-bottom: 50px;
}

#linea{
	border: 1px solid #8E8F90;
	width: 100%;
	margin-top: 70px;	
}

#caja3{
	margin-bottom: 40px;
}

#caja3 h3{
	color: #3CBC9B;
}

/*caja tres*/

#caja4{
	background-color: #181E68;
	width: 100%;
	height: auto;
}

#caja4 img{
	margin-bottom: 60px; 
}

/*caja cuatro*/

#caja5{
	background-color: #413E3E;
	width: 100%;
	height: auto;
	padding: 50px 70px;
}

#caja5 h2{
	color: white;	
}

#caja6 p{
	color: white;
}

#caja7 label{
	color: white;
}

#caja7 input{
	font-weight: bold;
	width: 80%;
	border-radius: 4px;
}

#caja7 textarea{
	width: 80%;
	height: 20vh;
	border-radius: 4px;
}

#caja7 .btn{
	width: 100px;
}

/*footer*/

footer{
	background-color: #1F1E1E;
	display: inline-flex;	
}

footer h3{
	font-size: 15px;
	color: white;
	font-weight: bold;
	display: inline-flex;	
}

footer p{
	font-size: 15px;
	display: inline-flex;
	margin-left: 10px;
}




