*{
	font-family: 'Raleway', sans-serif;
	color: black;
}

.color1{
	color: white;
}

/*caja uno*/

#caja1{
	background-color: #181E68;
	width: 100%;
	height: auto;	
}

#caja1 h1{
	font-size: 70px;
	margin-top: 80px;
}

/*caja dos*/

#caja2{
	background-color: #ECEDF2;
	width: 100%;
	height: auto;	
}

#caja2 h1{
	margin-top: 80px;
	margin-bottom: 50px;
}

#linea{
	border: 1px solid #8E8F90;
	width: 100%;
	margin-top: 70px;
	margin-bottom: 110px;
}